<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url(/bg-image.jpg);
            margin: 0;
            padding: 120px;
        }
        .container {
            max-width: 620px;
            margin: 0 auto;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        form {
            margin-bottom: 20px;
        }
        input[type="text"] {
            width: 80%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <% if(locals.id){ %>
            <p>URL Generated: <a href="http://localhost:8000/<%= id %>" target="_blank">http://localhost:8000/<%= id %></a></p>
        <% } %>
        <form action="/url" method="POST">
            <h4>Enter your long URL here</h4>
            <input type="text" name="url" placeholder="https://example.com" required>
            <button type="submit">Generate</button>
        </form>

        <% if (locals.urls) { %>
            <table>
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Original URL</th>
                        <th>Shortened ID</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% urls.forEach((url, index) => { %>
                        <tr>
                            <td><%= index + 1 %></td>
                            <td><a href="<%= url.redirectURL %>" target="_blank"><%= url.redirectURL %></a></td>
                            <td><%= url.shortId %></td>
                            <td><%= url.visitHistory.length %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>
    </div>
</body>
</html>